<form [formGroup]="loginForm" class="App-login" (ngSubmit)="onSubmitLogin()">
  <img src='./assets/logo.svg' class="App-logo" alt="logo Google" width="75" />
  <h1>Fazer login</h1>
  <p>Use sua Conta do Google</p>
  <div class='App-login-control' [class.placeholder]='textInput' [class.error]='error'>
    <input id="user" formControlName="user" type="text" class="App-login-input" required (input)='handleChange($event)' />
    <label htmlFor="user" class="App-login-label">Email ou telefone</label>
    @if (error) {
      <div class="App-login-error">
        <svg aria-hidden="true" fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
        </svg>
        Digite um e-mail ou número de telefone
      </div>
    }
  </div>
  <a href="https://github.com/lucasferreiralimax" target="_blank" rel="noreferrer noopener">Esqueceu seu e-mail?</a>
  <p>Não está no seu computador? Use o modo visitante para fazer login com privacidade. <a href="https://github.com/lucasferreiralimax" target="_blank" rel="noreferrer noreferrer noopener">Saiba mais</a></p>
  <button type="button" class="App-login-new btn">Criar conta</button>
  <button type="submit" class="App-login-next btn primary">Próxima</button>
</form>
